#page-room {

    min-height: 100vh;

    &.dark {
        background: #29292e;
    }

    header {
        padding: 24px;
        border-bottom: 1px solid #e2e2e2;

        .content {
            max-width: 1128px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo-theme {

                > img {
                    max-height: 45px;

                    &.user-home {
                        &:hover{
                            cursor: pointer;
                            transition: 0.2s;
                            filter: brightness(0.9);
                        }
                    }
                }

                > button {
                    height: 48px;
                    border-radius: 8px;
                    overflow: hidden;
                    color: #835afd;
                    border: 0px solid #835afd;
                    cursor: pointer;

                    background: transparent;
                    padding: 0 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background: #835afd;
                        color: #fff;
                        transition: 0.2s;
                    }

                    &.dark {
                        background: #29292e;

                        &:hover {
                            background: #835afd;
                            color: #29292e;
                            transition: 0.2s;
                        }
                    }
                }
            }

            > div {
                display: flex;
                gap: 16px;

                button {
                    height: 40px;
                }
            }

        }

        &.dark {
            background: #29292e;
            border-bottom: 1px solid #323238;

            .content {
                max-width: 1128px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .logo-theme {
    
                    > img {
                        max-height: 45px;
                    }
    
                    > button {
                        height: 48px;
                        border-radius: 8px;
                        overflow: hidden;
                        color: #835afd;
                        border: 0px solid #835afd;
                        cursor: pointer;
    
                        background: transparent;
                        padding: 0 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        &:hover {
                            background: #835afd;
                            color: #29292e;
                            transition: 0.2s;
                        }
    
                        &.dark {
                            background: #29292e;
    
                            &:hover {
                                background: #835afd;
                                color: #29292e;
                                transition: 0.2s;
                            }
                        }
                    }
                }
    
                > div {
                    display: flex;
                    gap: 16px;
    
                    button {
                        height: 40px;
                    }
                }
    
            }
        }
    }

    main {
        max-width: 800px;
        margin: 0 auto;

        
        .room-title {
            margin: 32px 0 24px;
            display: flex;
            align-items: center;
            
            h1 {
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                color: #29292e;
            }

            span {
                margin-left: 16px;
                background: #e559f9;
                border-radius: 9999px;
                padding: 8px 16px;
                color: #FFF;
                font-weight: 500;
                font-size: 14px;
            }
        }

        form {
            textarea {
                width: 100%;
                border: 0;
                padding: 16px;
                border-radius: 8px;
                background: #fefefe;
                box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
                resize: vertical;
                min-height: 138px;
            }
            
            .form-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 16px;
                
                .user-info {
                    display: flex;
                    align-items: center;

                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        border: 2px solid #835afd;
                        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
                    }

                    span {
                        margin-left: 8px;
                        color: #29292e;
                        font-weight: 500;
                        font-size: 14px;
                    }

                    .logoff {
                        margin-left: 8px;
                        cursor: pointer;
                        color: #835afd;
                        &:hover{
                            transition: 0.2s;
                            filter: brightness(0.8);
                        }
                        
                    }
                    
                }
                
                > span {
                    font-size: 14px;
                    color: #737388;
                    font-weight: 500;
                    
                    button {
                        background: transparent;
                        border: 0;
                        color: #835afd;
                        text-decoration: underline;
                        font-size: 14px;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
            }
        }
        

        .separator {
            font-size: 14px;
            color: #a8a8b3;
    
            margin: 32px 0;
            display: flex;
            align-items: center;
    
            &::before {
                content: '';
                flex: 1;
                height: 1px;
                background: #a8a8b3;
                margin-right: 16px;
            }
    
            &::after {
                content: '';
                flex: 1;
                height: 1px;
                background: #a8a8b3;
                margin-left: 16px;
            }
        }

        .question-list {
            margin-top: 8px;
        }

        .empty-question {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        ///// DARK

        &.dark {
            background: #29292e;

            .room-title {
                margin: 32px 0 24px;
                display: flex;
                align-items: center;
                
                h1 {
                    font-family: 'Poppins', sans-serif;
                    font-size: 24px;
                    color: #fff;
                }
    
                span {
                    margin-left: 16px;
                    background: #e559f9;
                    border-radius: 9999px;
                    padding: 8px 16px;
                    color: #29292e;
                    font-weight: 500;
                    font-size: 14px;
                }
            }

            form {
                textarea {
                    color: #fefefe;
                    width: 100%;
                    border: 0;
                    padding: 16px;
                    border-radius: 8px;
                    background: #303035;
                    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
                    resize: vertical;
                    min-height: 138px;
                }
                
                .form-footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 16px;
                    
                    .user-info {
                        display: flex;
                        align-items: center;
    
                        img {
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;
                            border: 2px solid #835afd;
                            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
                        }
    
                        span {
                            margin-left: 8px;
                            color: #fefefe;
                            font-weight: 500;
                            font-size: 14px;
                        }
    
                        .logoff {
                            margin-left: 8px;
                            cursor: pointer;
                            color: #835afd;
                            &:hover{
                                transition: 0.2s;
                                filter: brightness(0.8);
                            }
                        }
                    }
                    
                    > span {
                        font-size: 14px;
                        color: #fefefe;
                        font-weight: 500;
                        
                        button {
                            background: transparent;
                            border: 0;
                            color: #835afd;
                            text-decoration: underline;
                            font-size: 14px;
                            font-weight: 500;
                            cursor: pointer;
                        }
                    }
                }
            }

            .separator {
                font-size: 14px;
                color: #3f3f45;
        
                margin: 32px 0;
                display: flex;
                align-items: center;
        
                &::before {
                    content: '';
                    flex: 1;
                    height: 1px;
                    background: #3f3f45;
                    margin-right: 16px;
                }
        
                &::after {
                    content: '';
                    flex: 1;
                    height: 1px;
                    background: #3f3f45;
                    margin-left: 16px;
                }
            }
        }
    }


}